#coverimage {
  width:100%;
  height:90vh;
  object-fit: cover;
}

#title{
  font-size: 4em;
  color: #B5A382;
  font-family: 'Georgia';
  font-weight: bold;
}

.halfrow{
  background-color: #846B49;
  color: white;
  margin: 40px;
  padding: 20px;
  text-align: center;
}

#link{
  color: rgb(161,159,89);
}

.color{
  height: 25vh;
}
#color1{
  background-color: #846B49
  color: white;
  text-align: center;
}
#color2{
  background-color: #C6B79A
  color: white;
    text-align: center;
}

#color3{
  background-color: #28363F
  color: white;
  text-align: center;
}
#color4{
  background-color: #DBD5C8
    color: white;
    text-align: center;
}
#color5{
  background-color: #B5A382
  color: white;
  text-align: center;
}

#color1:hover{
  background-color: #a4865b
}
#color2:hover{
  background-color: #d1c5ad
}

#color3:hover{
  background-color: #3c505d
}
#color4:hover{
  background-color: #ebe7e0
}
#color5:hover{
  background-color: #c6b89f
}

#pickacolor{
  height: 60vh;
  width: 100%;
  padding-top: 30vh;
  margin-top: 40px;
  text-align:center;
}
